@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    margin: auto;
    padding: 0;

    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    background: rgb(239, 240, 241);
}

form {
    margin: 20px;
}

header.filter-name {
    font-size: 20px;
}

article.card {
    margin: 15px;
    padding: 15px;
    
    color: rgb(60, 65, 68);
    background: white;

    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}